:root {
    --transparent-dark-bg: rgba(0, 0, 0, 0.5);
    --transparent-bg: transparent;
}
/* Reset Default Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: sans-serif;
    color: white;
}

body {
    margin: 0;
    font-size: 1.8rem;
    background-image: url('../img/1080x1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Main Styles */
main {
    height: 100vh;
}

/* Header Styles */
.header-info {
    display: flex;
    width: 100%;
    background-image: linear-gradient(var(--transparent-dark-bg), var(--transparent-dark-bg), var(--transparent-dark-bg), var(--transparent-bg));
    height: 50px;
    align-items: center;
}

/* Temperature Styles */
.temperature-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.current-temperature {
    font-size: 26px;
    -webkit-text-stroke: 1px #aaa;
}

.time-section {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    font-weight: 100;
    width: 100%;
}

.current-weather--info {
    height: 40%;
}

/* MAIN INFO */
.main-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding-top: 25px;
}

.main-info--container {
    text-align: center;
    padding-bottom: 35px;
}

#main-info--city {
    font-size: 38px;
}

#main-info--temperature {
    font-size: 33px;
}

/* SECONDARY INFO */
.secondary-info {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.secondary-info--container {
    padding: 0 10px 10px;
}

/* Footer Styles */
.footer-info {
    height: 54%;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.week-days-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    border-bottom: 1px solid #bbb;
    padding: 0 5px;
}

.week-days-info:first-child {
    border-top: 1px solid #bbb;
}

.week-days-info:last-child {
    border-bottom: none;
}

.loading {
    opacity: 0;
}

.animation-loading-done {
    opacity: 1;
    animation: show .9s ease-in-out;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}